<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>KEK</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body class="kot">
        <div class="cd">
            <div id="game" class="justin-bobik">
                <h2 id="question">Какое другое официальное название имеет Храм Василия Блаженного в Москве?</h2>
                <div class="choice-cd">
                    <p class="choice-prefix"></p>
                    <p class="choice-text" data-number="1">Собор Покрова Пресвятой Богородицы</p>
                </div>
                <div class="choice-cd">
                    <p class="choice-prefix"></p>
                    <p class="choice-text" data-number="2">Архангельский собор</p>
                </div>
                <div class="choice-cd">
                    <p class="choice-prefix" data-number="3"></p>
                    <p class="choice-text">Успенский собор</p>
                </div>
            </div>
        </div>
        <script src="/static/js/game.js"></script>
</body>
</html>