<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>ESHKERE</title>
    <link rel="stylesheet" href="/static/css/bob.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <h1 align="center">Приветствую, друг!</h1>
    <div class="login" align="center">
        <form action= "login" target="_blank">
            <button class="start" id="start-button">Начать</button>
        </form>
    </div>
</body>
</html>